*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%; 
}

.navbar img{
    width: 80px;
    margin-left: 100px;

}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 100px;
    padding: 15px;
}
.navbar nav ul li a{
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 20px;
    
}
.navbar ul li{
    padding: 15px;
}
.navbar nav ul li a:hover{
    border-bottom: 2px solid #c56c07;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    color: #fff;
    text-transform: capitalize;
    
}
header{
    height: 100vh;
    background: url("img/home_bg.jpeg" ) center center/cover no-repeat ;
    position: relative;
    
}
header::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0,0.6);
}
.content h1{
    font-size: 40px;
    
}
.colo-text{
    color: #d88b34;
}
.content p{
    margin: 10px 0 30px;
}
header *{
    z-index: 10;
    padding: 5px 0 5px;
    
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.btn-book{
    list-style: none;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
}
.btn-book:hover , .btn_about:hover{
    background-color: #d88b34;
}
#about{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}
.contener{
    margin: auto;
    max-width: 1100px;
    
}
#about .title ,
#offers .title , 
#menu .title{
    text-align: center;
    margin-bottom: 4rem;
    
}
#about h2,
#menu .title h1,
.gallery h2{
    font-size: 40px;
    color: #383848;
    margin-bottom: 20px;
}

#about .title p , #menu .title p , .contact .content-content .info p
{
    color: #9a9a9a;
    font-weight: 600;
    font-size: 16px;
}
.contener .text_about 

{
    display: flex;
    justify-content: space-between;
    
}
.text_about img{
    width: 390px;
    margin-bottom: 30px;
    
    
}
.text_about p 
{
    color: #9a9a9a;
    line-height: 1.6;
    margin-right: 7rem;
    font-weight: 600;
}
.btn_about{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 15px solid #fff ;
    -webkit-border-radius: 15px solid #fff ;
    -moz-border-radius: 15px solid #fff ;
    -ms-border-radius: 15px solid #fff ;
    -o-border-radius: 15px solid #fff ;
    background-color: #383848;
    margin-top: 2rem;
}
#offers{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/offer-background.jpg) center center/cover fixed;

}

#offers .text_offers img{
    width: 200px;
}
#offers .text_offers h3{
    font-size: 25px;
    margin-bottom: 15px 0;
}
#offers .title h1{
    color: #c56c07;
    margin-bottom: 20px;
    font-size: 40px;
}
#offers .title p{
    
    font-weight: 500;
    color: #383848;
}
#offers .text_offers{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
}
#offers .text_offers p{
    font-size: 16px;
    padding: 0 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 15px;
}
#offers .text_offers span{
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;

}
#menu{
    padding: 5rem 0;
    background-color: #f4f4f4;
}
#menu .items{
    display: flex;
    justify-content:center;
    align-items: center;
    
}

#menu .items .menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
#menu .items .menu-item img{
    width: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 20px;
    

}
#menu .items .menu-item h3{
    border-bottom: 1px dashed #c2bdbd;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #383848;
}
#menu .items .menu-item span{
    position: absolute;
    top: 0;
    right: 0;
    color: #f1d324;

}
#menu .btn{
    display: block;
    margin:20px  auto 0;
    background-color: #e4bb05;
    color: #fff;
    cursor: pointer;
    
}
#menu .btn:hover{
    background-color: #383848;
}
.daytime{
    background: url("img/daytime_bg.jpeg") center center / cover fixed no-repeat;
    text-align: center;
    color: #fff;
    
}
.daytime .day-times{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}
.daytime .day-times .day-time h3{
    font-size: 32px;
    margin: 20px 0 10px;
}
.daytime .day-times .day-time p{
    font-weight: 500;
    
}
#gallery .img-gallery img{
    width: 300px;
    height: 200px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 20px;
}
#gallery{
    background: url("img/offer-background.jpg") center center/cover  no-repeat;
    padding: 8rem 0 6rem;
    
}
#gallery .img-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.8;
}
#gallery h2{
    text-align: center;
    color: #fff;
}
#gallery .img-gallery:hover{
    opacity: 1;
}
#contact{
    padding: 5rem 0;
    
    background-color:#f4f4f4;
}
#contact .contener{
    max-width: 900px;

}
#contact .content-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact .content-content .info{
    width: 50%;
    color: #000;

}
#contact .content-content .info div{
    margin: 15px 0;
    line-height: 1.7;
}
#contact .content-content .info h3{
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px;
}
#contact .content-content .info p i{
    font-family: 500;
    color: #d88b34;
    padding-right: 10px;
}
#contact .content-content .info a i{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #383848;
    font-size: 20px;
    color: #fff;
    background-color: #383848;
    padding: 15px;
}
#contact .content-content .info a i:hover{
    color: #383848;
    background-color: #e4bb05;
}
form{
    width: 50%;
}
form input , textarea{
    display: block;
    width: 100%;
    padding: 20px 15px ;
    margin: 20px 0;
    background-color: #e3e2dd;
    border: none;
}
#contact .btn{
    color: #fff;
    background-color: #c56c07;
    cursor: pointer;

}
#contact .btn:hover{
    background-color: #383848;
    
}
#footer{
    background-color: #383848;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}
#footer a{
    color: #fff;
}
@media(max-width:650px) {
    .navbar{
        
        width: 80%;
        height: 40px;
    }
    .navbar img{
        width: 40px;
        margin-left: 10px;
        
    }
    .navbar ul{
        padding: 3px;
        margin: 3px;
    }
    .navbar nav ul li a{
        font-weight: 300px;
        padding: 1px;
        font-size: 12px;

    }
    .navbar ul li{
        padding: 5px;
    }
    .content h1{
        font-size: 25px;
        margin-left: 5px;
        text-align: center;
        
    }
    .content p{
        margin-left: 5px;
        text-align: center;
    }
    #offers{
        height: 60vh;
    
    }
    #about h2,
    #menu .title h1,
    .gallery h2{
    font-size: 30px;
    color: #383848;
    margin-bottom: 15px;
    }
    #offers .text_offers img{
        width: 60px;
        
    }
    #offers .text_offers h3{
        font-size: 12px;
        margin-bottom: 3px 0;
    }
    #offers .text_offers p{
        font-size: 13px;
        padding: 0 10px;
        font-weight: 300;
        margin-bottom: 10px;
        margin-top: 8px;
    }
    #offers .text_offers span{
        font-size: 12px;
        font-weight: 400;
        margin-left: 5px;
    
    }
    .text_about img{
        width: 90px;
        margin-bottom: 5px;
        margin-right: 2px;
        
        
    }
    .text_about p 
    {
        line-height: 0.9;
        margin-right: 1rem;
        font-weight: 300;
        margin-left: 4px;
    }
    .btn_about{
        border-radius: 10px solid #fff ;
        -webkit-border-radius: 10px solid #fff ;
        -moz-border-radius: 10px solid #fff ;
        -ms-border-radius: 10px solid #fff ;
        -o-border-radius: 10px solid #fff ;
        background-color: #383848;
        margin-top: 10px;
        margin-left: 4px;
    }
    #about a{
        padding: 8px;
        font-size: 12px;
    }
    #about .title ,
    #offers .title , 
    #menu .title{
        text-align: center;
        margin-bottom: 2rem;
        
    }
    #offers .title h1{
        font-size: 30px;
    }
    #menu{
        padding: 2rem 0;
        background-color: #f4f4f4;
    }
    #menu .items{
        display: flex;
        justify-content:center;
        align-items: center;
        
    }
    
    #menu .items .menu-item img{
        width: 40px;
        margin-right: 5px;
        margin-left: 5px;
        
    
    }
    #menu .items .menu-item h3{
        font-size: 12px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        
    }
    #menu p {
        font-size: 11px;
    }
    #menu .items .menu-item span{
        font-size: 10px;
    
    }
    #menu .btn{
        margin:10px  auto 0;
    }
    #menu button{
        padding: 8px;
    }
    .daytime .day-times{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 30vh;
    }
    .daytime .day-times .day-time h3{
        font-size: 18px;
        margin: 10px 05px;
    }
    .daytime .day-times .day-time p{
        font-weight: 300;
        font-size: 14px;
        
    }
    .daytime img{
        width: 60px;
    }

    #gallery .img-gallery img{
        width: 90px;
        height: 100px;
        margin: 15px;
    }
    #gallery{
        
        padding: 4rem 0 3rem;
        
    }
    #gallery h2{
        margin-bottom: 15px;
    }
    #contact{
        padding: 2rem 0;
        
        background-color:#f4f4f4;
    }
    #contact .contener{
        max-width: 900px;
    
    }

    #contact .content-content .info{
        width: 50%;
        color: #000;
        margin-left: 5px;
    
    }
    #contact .content-content .info div{
        margin: 10px 0;
        line-height: 1.5;
    }
    #contact .content-content .info h3{
        font-size: 13px;
        color: #383848;
        margin-bottom: 3px;
    }
    #contact .content-content .info p i{
        font-family: 300;
        color: #d88b34;
        padding-right: 5px;
    }
    #contact .content-content .info a i{
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: #383848;
        font-size: 14px;
        padding: 8px;
    }
    form input , textarea{
        padding: 5px ;
        margin: 5;
    }
    #contact button{
        padding: 9px;
    }
}

